<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ header }}</title>
    </head>
    <body>
        <h1>{{ header }}</h1>
        <ul>
            {% for candidate in candidates %}
                <p>{{ candidate.first_name }}</p>
                <p><a href="{% url 'profile' candidate.id %}">Страница кандидата</a></p>
                {% if not forloop.last %}
                    <hr/>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>
